<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select panelClass="sort-select" [(ngModel)]="sort">
      <mat-option value="name">Name</mat-option>
      <mat-option value="release_date">Released</mat-option>
      <mat-option value="rating">Rating</mat-option>
      <mat-option value="rating">Updated</mat-option>
      <mat-option value="rating">Created</mat-option>
      <mat-option value="rating">Metecritic</mat-option>
      <mat-option value="rating">Added</mat-option>
    </mat-select>
  </mat-form-field>
</div>
